{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | About
{% endblock %}
  
{% block content %}
<section>
    <h2 class="section-header">about</h2>
    <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis fringilla diam. Sed porta quam sit amet turpis viverra, vel volutpat quam pellentesque. Etiam placerat sed ante ut iaculis. Quisque ornare ut purus non lacinia. Etiam vel erat tempor, egestas ligula non, hendrerit mi. Donec ornare lacinia nibh, ac imperdiet orci euismod ac. Etiam accumsan cursus lectus, eu posuere odio dictum non. Donec sed gravida velit. Duis finibus quam fringilla urna scelerisque molestie. Integer in leo mauris. Donec condimentum gravida fringilla. In quis libero nibh. Nullam metus justo, pulvinar id ex sed, convallis dictum diam.
    </p>
    

    <div id="gallery">
        <div id="carousel" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="BTS Photo 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="BTS Photo 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="BTS Photo 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://live.staticflickr.com/65535/52726177441_42743d38ed_o.png" class="selected-img d-block w-100" alt="BTS | Spring Day Concept Group Photo I">
                    <div class="carousel-caption d-none d-md-block">
                        Spring Day Concept Photo I
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://live.staticflickr.com/65535/52992400583_ec5cbcd797.jpg" alt="BTS | Spring Day Concept Photo: Jimin" class="selected-img d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        Spring Day Concept Photo: Jimin
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://live.staticflickr.com/65535/52992080204_85b1838acc.jpg" alt="BTS | Spring Day Concept Group Photo II" class="selected-img d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        Spring Day Concept Photo II
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="gallery-arrow bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="gallery-arrow bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br>
    
    <p class="about-text">
        Vivamus sed placerat orci. Sed nec fermentum mi. Sed mattis ultricies metus ac volutpat. Ut nec eleifend justo, at hendrerit justo. Ut ultrices, turpis eu condimentum pulvinar, nisi tortor fermentum ligula, sit amet accumsan tellus dui sit amet purus. Praesent ultrices tempus condimentum. Quisque faucibus mauris fermentum quam commodo tincidunt. Sed non semper lectus, eu ultrices urna.
    </p>
    <p class="about-text">
        Donec leo felis, lacinia quis dictum at, tempor id diam. Sed egestas justo ornare fringilla tempor. Integer quis dui nec urna euismod sodales. Aenean ac tincidunt metus. Mauris et quam dui. Curabitur vitae tristique risus, et faucibus est. Nam euismod vulputate lorem et volutpat.
    </p>
    <p class="about-text">
        Quisque condimentum risus sed lectus condimentum, id convallis eros lobortis. Aliquam suscipit dolor urna, quis tristique est ultrices non. Aenean ullamcorper diam id augue consectetur dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus facilisis, arcu et volutpat sollicitudin, eros mauris tempor orci, eget sagittis magna magna vel eros. Nunc nisl velit, consequat sit amet ex vel, rutrum dignissim arcu. Vestibulum facilisis feugiat risus vitae pellentesque. Nunc sit amet nibh est. Quisque eu erat in quam sollicitudin elementum.
    </p>
</section>

<br>
<br>

{% endblock %}