{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | About
{% endblock %}
  
{% block content %}
<section>
    <h2 class="section-header">about</h2>
    
    <div id="gallery" class="shadow">
        <div id="carousel" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="BTS Photo 1"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="BTS Photo 2"></button>
                <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="BTS Photo 3"></button>
            </div>

            <div class="carousel-inner">
                {% for gallery_item in gallery_data %}
                <div class="carousel-item active">
                    <img src="{{gallery_item.src}}" class="selected-img d-block w-100" alt="{{gallery_item.alt}}"/>
                </div>
                {% endfor %}
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="gallery-arrow bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                </span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="gallery-arrow bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br>
    <br>

    <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis fringilla diam. Sed porta quam sit amet turpis viverra, vel volutpat quam pellentesque. Etiam placerat sed ante ut iaculis. Quisque ornare ut purus non lacinia. Etiam vel erat tempor, egestas ligula non, hendrerit mi. Donec ornare lacinia nibh, ac imperdiet orci euismod ac. Etiam accumsan cursus lectus, eu posuere odio dictum non. Donec sed gravida velit. Duis finibus quam fringilla urna scelerisque molestie. Integer in leo mauris. Donec condimentum gravida fringilla. In quis libero nibh. Nullam metus justo, pulvinar id ex sed, convallis dictum diam.
    </p>

    <p class="about-text">
        Vivamus sed placerat orci. Sed nec fermentum mi. Sed mattis ultricies metus ac volutpat. Ut nec eleifend justo, at hendrerit justo. Ut ultrices, turpis eu condimentum pulvinar, nisi tortor fermentum ligula, sit amet accumsan tellus dui sit amet purus. Praesent ultrices tempus condimentum. Quisque faucibus mauris fermentum quam commodo tincidunt. Sed non semper lectus, eu ultrices urna.
    </p>

    <br>
    <h2 class="section-header">members</h2>
    <div class="bio-all">
        <div class="bio-parent shadow">
            <img class="bio-img" src="https://live.staticflickr.com/65535/53019080418_34873e2f1c_o.jpg"  style="width:100%;" alt="Jimin">
            <div class="bio-text">
                <h3>Jimin</h3>
                <p>Lead vocalist</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img class="bio-img" src="https://live.staticflickr.com/65535/53019080498_bbac2951d3_o.jpg"  style="width:100%;" alt="Jungkook">
            <div class="bio-text">
                <h3>Jungkook</h3>
                <p>Main vocals</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img class="bio-img" src="https://live.staticflickr.com/65535/53019080508_fd3ed1f113_o.jpg"  style="width:100%;" alt="V">
            <div class="bio-text">
                <h3>V</h3>
                <p>Vocals</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img src="https://live.staticflickr.com/65535/53018597866_b8d202b5fd_o.jpg"   style="width:100%;" alt="J-Hope">
            <div class="bio-text">
                <h3>J-Hope</h3>
                <p>Rapper</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img src="https://live.staticflickr.com/65535/53018597876_a41e6d1ff4_o.jpg"  style="width:100%;" alt="RM">
            <div class="bio-text">
                <h3>RM</h3>
                <p>Main rapper</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img src="https://live.staticflickr.com/65535/53018597861_7d3a8a7675_o.jpg"  style="width:100%;" alt="SUGA">
            <div class="bio-text">
                <h3>SUGA</h3>
                <p>Lead rapper</p>
            </div>
        </div>

        <div class="bio-parent shadow">
            <img src="https://live.staticflickr.com/65535/53018597871_80456d465b_o.jpg" style="width:100%;" alt="Jin">
            <div class="bio-text">
                <h3>Jin</h3>
                <p>Vocals</p>
            </div>
        </div>

    </div>

</section>

<br>
<br>

{% endblock %}