<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link type="text/css" href="../static/style.css" rel="stylesheet"/>

        <title>{% block title %}{% endblock title %}</title>

    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/index">HOME</a>
                        <a class="nav-item nav-link" href="/store">STORE</a>
                        <a class="nav-item nav-link" href="/about">ABOUT</a>
                    </div>
                </div>

            </nav>
            <!--
            <nav>
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/store">STORE</a></li>
                    <li><a href="/about">ABOUT</a></li>
                </ul>
            </nav>
            -->
        </header>

        <hr>

        <div>
            {% block content %} {% endblock %}
        </div>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
        ></script>
        
    </body>

    <footer>
        <h3>BTS</h3>
        <ul>
            <li>
                <a href="https://www.youtube.com/channel/UCLkAepWjdylmXSltofFvsYQ" target="_blank">
                    <img src="https://www.freepnglogos.com/uploads/youtube-logo-hd-8.png" width="80px"/>
                </a>
            </li>

            <li>
                <a href="https://open.spotify.com/artist/3Nrfpe0tUJi4K4DXYWgMUX" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/232px-Spotify_icon.svg.png" width="30px"/>
                </a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/bts.bighitofficial/" target="_blank">
                    <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png" width="30px"/>
                </a>
            </li>
        </ul>
    </footer>
</html>