{% extends 'base.html' %}

{% block title %}Unofficial BTS | Checkout {% endblock %}

{% block content %}

{% import 'components/_states_dropdown.html' as states_dropdown %}

<form method="POST">
    <h2 class="section-header">checkout</h2>

    <div class="checkout-section">
        <h3 class="sub-header">shipping address</h3>
        <br>
        <div class="checkout-form">
            <div class="row">
                <label class="col-md-3" id="ship-name-label">Name</label>
                {% if saved_data %}
                <input class="form-control col-md-9" placeholder="John Smith" id="shipName" name="shipName" maxlength="30" value="{{ saved_data.ship_name }}">
                {% else %}
                <input class="form-control col-md-9" placeholder="John Smith" id="shipName" name="shipName" maxlength="30">
                {% endif %}
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">Street Address</label>
                {% if saved_data %}
                <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="shipAddress" name="shipAddress" minlength="3" maxlength="30" value="{{ saved_data.ship_address }}">
                {% else %}
                <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="shipAddress" name="shipAddress" minlength="3" maxlength="30">
                {% endif %}
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">City</label>
                {% if saved_data %}
                <input class="form-control col-md-3" placeholder="City" id="shipCity" name="shipCity" minlength="3" maxlength="30" value="{{ saved_data.ship_city }}">
                {% else %}
                <input class="form-control col-md-3" placeholder="City" id="shipCity" name="shipCity" minlength="3" maxlength="30">
                {% endif %}
                <label id="ship-state-label" class="col-md-3">State</label>
                <select class="form-control col-md-3" placeholder="ST" id="shipState" name="shipState" aria-labelledby="ship-state-label">
                    <option value="AK" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'AK' else "" }}>Alaska</option>
                    <option value="AZ" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'AZ' else "" }}>Arizona</option>
                    <option value="AR" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'AR' else "" }}>Arkansas</option>
                    <option value="AS" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'AS' else "" }}>American Samoa</option>
                    <option value="CA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'CA' else "" }}>California</option>
                    <option value="CO" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'CO' else "" }}>Colorado</option>
                    <option value="CT" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'CT' else "" }}>Connecticut</option>
                    <option value="DE" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'DE' else "" }}>Delaware</option>
                    <option value="DC" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'DC' else "" }}>District of Columbia</optio>
                    <option value="FL" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'FL' else "" }}>Florida</option>
                    <option value="GA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'GA' else "" }}>Georgia</option>
                    <option value="GU" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'GU' else "" }}>Guam</option>
                    <option value="HI" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'HI' else "" }}>Hawaii</option>
                    <option value="ID" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'ID' else "" }}>Idaho</option>
                    <option value="IL" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'IL' else "" }}>Illinois</option>
                    <option value="IN" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'IN' else "" }}>Indiana</option>
                    <option value="IA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'IA' else "" }}>Iowa</option>
                    <option value="KS" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'KS' else "" }}>Kansas</option>
                    <option value="KY" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'KY' else "" }}>Kentucky</option>
                    <option value="LA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'LA' else "" }}>Louisiana</option>
                    <option value="ME" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'ME' else "" }}>Maine</option>
                    <option value="MD" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MD' else "" }}>Maryland</option>
                    <option value="MA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MA' else "" }}>Massachusetts</option>
                    <option value="MI" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MI' else "" }}>Michigan</option>
                    <option value="MN" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MN' else "" }}>Minnesota</option>
                    <option value="MS" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MS' else "" }}>Mississippi</option>
                    <option value="MO" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MO' else "" }}>Missouri</option>
                    <option value="MT" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'MT' else "" }}>Montana</option>
                    <option value="NE" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NE' else "" }}>Nebraska</option>
                    <option value="NV" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NV' else "" }}>Nevada</option>
                    <option value="NH" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NH' else "" }}>New Hampshire</option>
                    <option value="NJ" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NJ' else "" }}>New Jersey</option>
                    <option value="NM" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NM' else "" }}>New Mexico</option>
                    <option value="NY" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NY' else "" }}>New York</option>
                    <option value="NC" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'NC' else "" }}>North Carolina</option>
                    <option value="ND" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'ND' else "" }}>North Dakota</option>
                    <option value="OH" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'OH' else "" }}>Ohio</option>
                    <option value="OK" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'OK' else "" }}>Oklahoma</option>
                    <option value="OR" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'OR' else "" }}>Oregon</option>
                    <option value="PA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'PA' else "" }}>Pennsylvania</option>
                    <option value="RI" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'RI' else "" }}>Rhode Island</option>
                    <option value="SC" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'SC' else "" }}>South Carolina</option>
                    <option value="SD" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'SD' else "" }}>South Dakota</option>
                    <option value="TN" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'TN' else "" }}>Tennessee</option>
                    <option value="TX" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'TX' else "" }}>Texas</option>
                    <option value="UT" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'UT' else "" }}>Utah</option>
                    <option value="VT" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'VT' else "" }}>Vermont</option>
                    <option value="VA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'VA' else "" }}>Virginia</option>
                    <option value="WA" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'WA' else "" }}>Washington</option>
                    <option value="WV" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'WV' else "" }}>West Virginia</option>
                    <option value="WI" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'WI' else "" }}>Wisconsin</option>
                    <option value="WY" {{ "selected='selected'" if saved_data and saved_data.ship_state == 'WY' else "" }}>Wyoming</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">ZIP</label>
                {% if saved_data %}
                <input class="form-control col-md-3" placeholder="12345" id="shipZip" name="shipZip" minlength="5" maxlength="5" value="{{ saved_data.ship_zip}}">
                {% else %}
                <input class="form-control col-md-3" placeholder="12345" id="shipZip" name="shipZip" minlength="5" maxlength="5">
                {% endif %}
                <label class="col-md-3">Email</label>
                {% if saved_data %}
                <input type="email" class="form-control col-md-3" placeholder="user@gmail.com" id="shipEmail" name="shipEmail" minlength="3" maxlength="30" value="{{ saved_data.ship_email }}">
                {% else %}
                <input type="email" class="form-control col-md-3" placeholder="user@gmail.com" id="shipEmail" name="shipEmail" minlength="3" maxlength="30">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <h3 class="sub-header">billing address</h3>
        <br>
        <div class="checkout-form">
            <div class="form-check billing-button">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="editCheckout(this)">
                <label class="form-check-label" for="flexCheckDefault">Same as shipping address?</label>
            </div>
            <br>
            <div class="row">
                <label class="col-md-3" id="bill-name-label">Name</label>
                <input class="form-control col-md-9" placeholder="John Smith" id="billName" name="billName" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">Street Address</label>
                <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="billAddress" name="billAddress" minlength="3" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">City</label>
                <input class="form-control col-md-3" placeholder="City" id="billCity" name="billCity" minlength="3" maxlength="30">
                {{ states_dropdown.billing_dropdown() }}
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">ZIP</label>
                <input class="form-control col-md-3" placeholder="12345" id="billZip" name="billZip" minlength="5" maxlength="5">
                <label class="col-md-3">Email</label>
                <input type="form-control email" class="form-control col-md-3" placeholder="user@gmail.com" id="billEmail" name="billEmail" minlength="3" maxlength="30">
            </div>
        </div>
        </div>
    </div>

    <div class="checkout-section">
        <h3 class="sub-header">payment</h3>
        <br>
        <div class="checkout-form">
            <div class="row">
                <label class="col-md-3">Credit Card Number</label>
                <input class="form-control col-md-9" type="text" minlength="15" maxlength="15" placeholder="414141414141414" autocomplete="off" id="ccn">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">CVC Number</label>
                <input class="form-control col-md-9" type="password" minlength="3" maxlength="3" placeholder="123" autocomplete="off" id="cvc">
            </div>
            <br>
            <div class="row">
                <label id="expiry-date-label" class="col-md-3">Expiry Date</label>
                <select class="form-control col-md-3" autocomplete="off" aria-labelledby="expiry-date-label">
                    <option value="01" selected>Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <label id="expiry-year-label">Expiry Year</label>
                <select class="form-control col-md-3" autocomplete="off" aria-labelledby="expiry-year-label">
                    <option value="24" selected>2024</option>
                    <option value="25">2025</option>
                    <option value="26">2026</option>
                    <option value="27">2027</option>
                    <option value="28">2028</option>
                    <option value="29">2029</option>
                    <option value="30">2030</option>
                    <option value="31">2031</option>
                    <option value="32">2032</option>
                    <option value="33">2033</option>
                </select>
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <h3 class="sub-header">delivery method</h3>
        <br>
        <div class="checkout-form">
            <div class="form-check shipping-form" id="delivery-form">
                <div>
                    {% if user.is_authenticated %}
                        <input value="$0.00" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked onchange="radioChange(this)">
                        <label class="form-check-label" for="flexRadioDefault2">               
                            <span class="radio-price">$0.00</span><span class="shipping-type">
                                <span style="color:teal;">FREE</span> Standard (5-7 biz days)
                            </span>
                        </label>
                    {% else %}
                        <input value="$5.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked onchange="radioChange(this)">
                        <label class="form-check-label" for="flexRadioDefault2">               
                            <span class="radio-price">$5.99</span><span class="shipping-type"> Standard (5-7 biz days)</span>
                        </label>
                    {% endif %}
                </div>
                <div>
                    <input value="$12.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onchange="radioChange(this)">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <span class="radio-price">$12.99</span><span class="shipping-type"> Express (3-5 biz days)</span>
                    </label>
                </div>
                <div>
                    <input value="$15.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" onchange="radioChange(this)">
                    <label class="form-check-label" for="flexRadioDefault3">
                        <span class="radio-price">$15.99</span><span class="shipping-type"> Next Day (1 biz day)</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- Apply Membership Points -->
    {% if user.is_authenticated and user.points > 0 %}
    <div class="checkout-section">
        <h3 class="sub-header">apply points</h3>
        <br>
        <div class="checkout-form">
            <div class="form-check points-button">
                <input class="form-check-input" type="checkbox" value="" id="pointsCheckbox" onchange="applyPoints(this)">
                <label class="form-check-label" for="pointsCheckbox">Apply {{ (user.points/5)|round|int}} membership points for $<span id="discount-value">{{ '%0.2f' % ((user.points/5)|round|int/10) }}</span> off?</label>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="checkout-section">
        <h3 class="sub-header">total</h3>
        <br>
        <div class="checkout-form">
            <div class="row">
                <span class="col-md-6" id="subtotal-label">Subtotal </span><span class="col-md-6" id="subtotal"></span>
            </div>
            <br>
            <div class="row">
                {% if user.is_authenticated %}
                    <span class="col-md-6" id="ship-handle-label">Shipping & Handling </span><span class="col-md-6" id="shipping-fee">$0.00</span>
                {% else %}
                    <span class="col-md-6" id="ship-handle-label">Shipping & Handling </span><span class="col-md-6" id="shipping-fee">$5.99</span>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <br>
            <div class="row">
                <!-- Optionally apply membership points -->
                <span class="col-md-6 discount-label">Discounts</span>
                <span class="col-md-6" id="discount">-$0.00</span>
            </div>
            {% endif %}
            <div id="total-price-label">TOTAL PRICE <span id="total-dollar-sign">$</span><span id="total-price"></span></div>
        </div>
    </div>

    <div class="hidden-div">
        <!-- Stores subtotal and total price -- to be sent with form -->
        <input id="hidden-subtotal" type="text" name="subtotal">
        <input id="hidden-total-price" type="text" name="totalPrice">
        <input id="hidden-delivery-fee" type="text" name="deliveryFee">
        <input id="hidden-points" type="text" name="pointsUsed">
        <input id="hidden-json-cart" name="jsonCart">
    </div>

    <div class="submit-cart">
        <button type="submit" class="purchase-btn btn" onclick="return purchaseClicked(this)">
            PURCHASE
        </button>
    </div>
    <br>

</form>

<script>
    // Populate subtotal and predicted total price with $5.99 shipping fee
    document.getElementById("subtotal").innerText = sessionStorage.getItem("subtotal");
    document.getElementById("total-price").innerText = sessionStorage.getItem("predictedTotal");
    
    // Populate hidden div info
    document.getElementById("hidden-subtotal").value = sessionStorage.getItem("subtotal").replace('$', '').toString();
    document.getElementById("hidden-delivery-fee").value = "5.99"; // string
    document.getElementById("hidden-total-price").value = sessionStorage.getItem("predictedTotal").toString();

    // Apply FREE Membership Standard Shipping
    if (document.getElementById("shipping-fee").innerText == "$0.00") {
        document.getElementById("total-price").innerText = sessionStorage.getItem("subtotal").replace('$', '').toString();
        document.getElementById("hidden-delivery-fee").value = "0.00"; // string
        document.getElementById("hidden-total-price").value = sessionStorage.getItem("subtotal").replace('$', '').toString();
    }

    // Populate hidden discounts, for registered accounts
    if (document.getElementById("shipping-fee").innerText == "$0.00") {
        document.getElementById("hidden-points").value = "-0.00"; // string
    }

    // Retrieve JSON shoppingCart
    var json_cart = sessionStorage.getItem("shoppingCart");
    document.getElementById("hidden-json-cart").value = json_cart;
</script>

{% endblock %}