{% extends 'base.html' %}

{% block title %}Unofficial BTS | Checkout {% endblock %}

{% block content %}

<form method="POST">
    <h2 class="section-header">checkout {{ txnType }} </h2>

    <div class="checkout-section">
        <h4 class="sub-header">shipping address</h4>
        <br>
        <div class="checkout-form">
            <div class="row">
                <label class="col-md-3" id="ship-name-label">Name</label>
                <input class="form-control col-md-9" placeholder="John Smith" id="shipName" name="shipName" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">Street Address</label>
                <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="shipAddress" name="shipAddress" minlength="3" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">City</label>
                <input class="form-control col-md-3" placeholder="City" id="shipCity" name="shipCity" minlength="3" maxlength="30">
                <label class="col-md-3">State</label>
                <select class="form-control col-md-3" placeholder="ST" id="shipState" name="shipState">
                    <option value="AL" selected>Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="AS">American Samoa</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</optio>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="GU">Guam</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">ZIP</label>
                <input class="form-control col-md-3" placeholder="12345" id="shipZip" name="shipZip" minlength="5" maxlength="5">
                <label class="col-md-3">Email</label>
                <input type="email" class="form-control col-md-3" placeholder="user@gmail.com" id="shipEmail" name="shipEmail" minlength="3" maxlength="30">
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <h4 class="sub-header">billing address</h4>
        <br>
        <div class="checkout-form">
            <div class="form-check billing-button">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onchange="editCheckout(this)">
                <label class="form-check-label" for="flexCheckDefault">Same as shipping address?</label>
            </div>
            <br>
            <div class="row">
                <label class="col-md-3" id="bill-name-label">Name</label>
                <input class="form-control col-md-9" placeholder="John Smith" id="billName" name="billName" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">Street Address</label>
                <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="billAddress" name="billAddress" minlength="3" maxlength="30">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">City</label>
                <input class="form-control col-md-3" placeholder="City" id="billCity" name="billCity" minlength="3" maxlength="30">
                <label class="col-md-3">State</label>
                <select class="form-control col-md-3" placeholder="ST" id="billState" name="billState">
                    <option value="AL" selected>Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="AS">American Samoa</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">District of Columbia</optio>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="GU">Guam</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">ZIP</label>
                <input class="form-control col-md-3" placeholder="12345" id="billZip" name="billZip" minlength="5" maxlength="5">
                <label class="col-md-3">Email</label>
                <input type="form-control email" class="form-control col-md-3" placeholder="user@gmail.com" id="billEmail" name="billEmail" minlength="3" maxlength="30">
            </div>
        </div>
        </div>
    </div>

    <div class="checkout-section">
        <h4 class="sub-header">payment</h4>
        <br>
        <div class="checkout-form">
            <div class="row">
                <label class="col-md-3">Credit Card Number</label>
                <input class="form-control col-md-9" type="text" minlength="15" maxlength="15" placeholder="414141414141414" autocomplete="off" id="ccn">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">CVC Number</label>
                <input class="form-control col-md-9" type="password" minlength="3" maxlength="3" placeholder="123" autocomplete="off" id="cvc">
            </div>
            <br>
            <div class="row">
                <label class="col-md-3">Expiry Date</label>
                <select class="form-control col-md-3" autocomplete="off">
                    <option value="01" selected>Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select class="form-control col-md-3" autocomplete="off">
                    <option value="24" selected>2024</option>
                    <option value="25">2025</option>
                    <option value="26">2026</option>
                    <option value="27">2027</option>
                    <option value="28">2028</option>
                    <option value="29">2029</option>
                    <option value="30">2030</option>
                    <option value="31">2031</option>
                    <option value="32">2032</option>
                    <option value="33">2033</option>
                </select>
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <h4 class="sub-header">delivery method</h4>
        <br>
        <div class="checkout-form">
            <div class="form-check shipping-form" id="delivery-form">
                <div>
                    <input value="$5.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked onchange="radioChange(this)">
                    <label class="form-check-label" for="flexRadioDefault2">
                      <span class="radio-price">$5.99</span><span class="shipping-type"> Standard (5-7 biz days)</span>
                    </label>
                </div>
                <div>
                    <input value="$12.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onchange="radioChange(this)">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <span class="radio-price">$12.99</span><span class="shipping-type"> Express (3-5 biz days)</span>
                    </label>
                </div>
                <div>
                    <input value="$15.99" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" onchange="radioChange(this)">
                    <label class="form-check-label" for="flexRadioDefault3">
                        <span class="radio-price">$15.99</span><span class="shipping-type"> Next Day (1 biz day)</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <h4 class="sub-header">total</h4>
        <br>
        <div class="checkout-form">
            <div class="row">
                <span class="col-md-6" id="subtotal-label">Subtotal </span><span class="col-md-6" id="subtotal"></span>
            </div>
            <br>
            <div class="row">
                <span class="col-md-6" id="ship-handle-label">Shipping & Handling </span><span class="col-md-6" id="shipping-fee">$5.99</span>
            </div>
            <div id="total-price-label">TOTAL PRICE $<span id="total-price"></span></div>
        </div>
    </div>

    <div class="hidden-div">
        <!-- Stores subtotal and total price -- to be sent with form -->
        <input id="hidden-subtotal" type="text" name="subtotal">
        <input id="hidden-total-price" type="text" name="totalPrice">
        <input id="hidden-delivery-fee" type="text" name="deliveryFee">
        <input id="hidden-json-cart" name="jsonCart">
    </div>

    <div class="submit-cart">
        <button type="submit" class="purchase-btn btn" onclick="return purchaseClicked(this)">
            PURCHASE
        </button>
    </div>
    <br>

</form>

<script>
    // Populate subtotal and predicted total price with $5.99 shipping fee
    document.getElementById("subtotal").innerText = sessionStorage.getItem("subtotal");
    document.getElementById("total-price").innerText = sessionStorage.getItem("predictedTotal");
    // Populate hidden div info
    document.getElementById("hidden-subtotal").value = sessionStorage.getItem("subtotal").replace('$', '').toString();
    document.getElementById("hidden-delivery-fee").value = "5.99"; // string
    document.getElementById("hidden-total-price").value = sessionStorage.getItem("predictedTotal").toString();
    // Retrieve JSON shoppingCart
    var json_cart = sessionStorage.getItem("shoppingCart");
    document.getElementById("hidden-json-cart").value = json_cart;

</script>

{% endblock %}