{% extends 'base.html' %}

{% block title %}
    BTS
{% endblock %}

{% block content %}
<button type="button" class="btn btn-dark">Get our latest album!</button>
<br>
<br>
<!-- add banner image later -->
<button  type="button" class="btn btn-dark">&#9658;</button>

<section>
    <h2>TOURS</h2>
    <div>
        <div>
            <strong>AUG 25</strong>
            &lt;&gt;
            <span>SEOUL</span>
            &lt;&gt;
            <span>SEOUL OLYMPIC STADIUM</span>
            <button type="button" class="btn btn-dark">BUY TICKETS</button>
            <hr>
        </div>
        <div>
            <strong>SEPT 05</strong>
            &lt;&gt;
            <span>LOS ANGELES</span>
            &lt;&gt;
            <span>STAPLES CENTER</span>
            <button type="button" class="btn btn-dark">BUY TICKETS</button>
            <hr>
        </div>
        <div>
            <strong>SEPT 12</strong>
            &lt;&gt;
            <span>OAKLAND</span>
            &lt;&gt;
            <span>ORACLE ARENA</span>
            <button type="button" class="btn btn-dark">BUY TICKETS</button>
            <hr>
        </div>
        <div>
            <strong>OCT 02</strong>
            &lt;&gt;
            <span>CHICAGO</span>
            &lt;&gt;
            <span>UNITED CENTER</span>
            <button type="button" class="btn btn-dark">BUY TICKETS</button>
        </div>
    </div>
</section>
{% endblock %}