{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | Home
{% endblock %}

{% block content %}

<section>
    <h2 class="section-header">tour dates</h2>
    <div class="tour-div">
        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">AUG 25</span>
            <span class="tour-item tour-city">SEOUL, KOREA</span>
            <span class="tour-item tour-arena">SEOUL OLYMPIC STADIUM</span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix" class="btn general-btn">BUY TICKETS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">SEPT 05</span>
            <span class="tour-item tour-city">LOS ANGELES, CA, UNITED STATES</span>
            <span class="tour-item tour-arena">STAPLES CENTER</span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix" class="btn general-btn">BUY TICKETS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">SEPT 12</span>
            <span class="tour-item tour-city">OAKLAND, CA, UNITED STATES</span>
            <span class="tour-item tour-arena">ORACLE ARENA</span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix" class="btn general-btn">BUY TICKETS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">OCT 02</span>
            <span class="tour-item tour-city">CHICAGO, IL, UNITED STATES</span>
            <span class="tour-item tour-arena">UNITED CENTER</span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix" class="btn general-btn">BUY TICKETS</a>
            </span>
        </div>
    </div>
    <br>
</section>
{% endblock %}