{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | Home
{% endblock %}

{% block content %}

<section>
    <h2 class="section-header">tour dates</h2>
    <div class="tour-div">
        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">AUG 25</span>
            <span class="tour-item tour-city">SEOUL, KOREA</span>
            <span class="tour-item tour-arena">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                SEOUL OLYMPIC STADIUM</span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix/seoul" class="btn general-btn">BUY TIXS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">SEPT 05</span>
            <span class="tour-item tour-city">LOS ANGELES, CA, UNITED STATES</span>
            <span class="tour-item tour-arena">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                STAPLES CENTER
            </span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix/la" class="btn general-btn">BUY TIXS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">SEPT 12</span>
            <span class="tour-item tour-city">OAKLAND, CA, UNITED STATES</span>
            <span class="tour-item tour-arena">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                ORACLE ARENA
            </span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix/oakland" class="btn general-btn">BUY TIXS</a>
            </span>
        </div>

        <div class="tour-row flexbox-container">
            <span class="tour-item tour-date">OCT 02</span>
            <span class="tour-item tour-city">CHICAGO, IL, UNITED STATES</span>
            <span class="tour-item tour-arena">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                UNITED CENTER
            </span>
            <span class="flexbox-btn tour-item"> 
                <a href="/buy-tix/chicago" class="btn general-btn">BUY TIXS</a>
            </span>
        </div>
    </div>
</section>

</div>
{% endblock %}