{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | Account Settings
{% endblock %}
  
{% block content %}

{% import 'components/_states_dropdown.html' as states_dropdown %}

<section style="text-align: center;">
    <form method="POST">
        <h2 class="section-header">settings</h2>

        <div class="checkout-section">
            <h4 class="sub-header">shipping address</h4>
            <br>
            <div class="checkout-form">
                <div class="row">
                    <label class="col-md-3" id="ship-name-label">Name</label>
                    {% if saved_data %}
                    <input class="form-control col-md-9" placeholder="John Smith" id="savedName" name="savedName" maxlength="30" value="{{ saved_data.ship_name }}">
                    {% else %}
                    <input class="form-control col-md-9" placeholder="John Smith" id="savedName" name="savedName" maxlength="30">
                    {% endif %}
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3">Street Address</label>
                    {% if saved_data %}
                    <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="savedAddress" name="savedAddress" minlength="3" maxlength="30" value="{{ saved_data.ship_address }}">
                    {% else %}
                    <input class="form-control col-md-9" placeholder="123 Somewhere Street" id="savedAddress" name="savedAddress" minlength="3" maxlength="30">
                    {% endif %}
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3">City</label>
                    {% if saved_data %}
                    <input class="form-control col-md-3" placeholder="City" id="savedCity" name="savedCity" minlength="3" maxlength="30" value="{{ saved_data.ship_city }}">
                    {% else %}
                    <input class="form-control col-md-3" placeholder="City" id="savedCity" name="savedCity" minlength="3" maxlength="30">
                    {% endif %}
                    <!-- IMPORT SHIPPING STATES DROPDOWN COMPONENT -->
                    {{ states_dropdown.shipping_dropdown(saved_data, 'account-ship-state-label', 'savedState', 'savedState', 'account-ship-state-label') }}
                </div>
                <br>
                <div class="row">
                    <label class="col-md-3">ZIP</label>
                    {% if saved_data %}
                    <input class="form-control col-md-3" placeholder="12345" id="savedZip" name="savedZip" minlength="5" maxlength="5" value="{{ saved_data.ship_zip }}">
                    {% else %}
                    <input class="form-control col-md-3" placeholder="12345" id="savedZip" name="savedZip" minlength="5" maxlength="5">
                    {% endif %}
                    <label class="col-md-3">Email</label>
                    {% if saved_data %}
                    <input type="email" class="form-control col-md-3" placeholder="user@gmail.com" id="savedEmail" name="savedEmail" minlength="3" maxlength="30" value="{{ saved_data.ship_email }}">
                    {% else %}
                    <input type="email" class="form-control col-md-3" placeholder="user@gmail.com" id="savedEmail" name="savedEmail" minlength="3" maxlength="30">
                    {% endif %}
                </div>
            </div>
        </div>

        <br>
        <div class="center-btn">
            <button class="btn" type="submit" style="font-family: 'Syne', 'Times';">SAVE</button>
            <a href="/account" class="btn view-btn">Back to Account</a>
        </div>
        <br>

    </form>
</section>

{% endblock %}