{% extends 'base.html' %}

{% block title %}
    BTS | Store
{% endblock %}

{% block content %}
<section>
    <h2>MUSIC</h2>
    <div>
        <div><strong>Young Forever</strong></div>
        <img src="https://live.staticflickr.com/65535/52726666648_ba2e880a99_w.jpg" height="100px"/>
        <div>
            <span>$19.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>

    <div>
        <div><strong>WINGS</strong></div>
        <img src="https://live.staticflickr.com/65535/52726666373_7da75acb45_w.jpg" height="100px"/>
        <div>
            <span>$21.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>

    <div>
        <div><strong>You Never Walk Alone</strong></div>
        <img src="https://live.staticflickr.com/65535/52726600750_3946190a20_w.jpg" height="100px"/>
        <div>
            <span>$25.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>

    <div>
        <div><strong>Love Yourself: HER</strong></div>
        <img src="https://live.staticflickr.com/65535/52726186301_80d0c6f6c5_n.jpg" height="100px"/>
        <div>
            <span>$28.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>
</section>

<section>
    <h2>MERCH</h2>
    <div>
        <div><strong>Love Yourself: Black Hoodie</strong></div>
        <img type="image/png" src="https://live.staticflickr.com/65535/52726627658_dc143b07b2_o.jpg" height="100px"/>
        <div>
            <span>$31.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>

    <div>
        <div><strong>Love Yourself: White Hoodie</strong></div>
        <img type="image/png" src="https://live.staticflickr.com/65535/52726147106_704a98479e_o.jpg" height="100px"/>
        <div>
            <span>$31.99</span>
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                </svg>
            </button>
        </div>
    </div>
</section>

<section>
    <h2>CART</h2>
    <div>
        <strong>ITEM</strong>
        &lt;&gt;
        <strong>PRICE</strong>
        &lt;&gt;
        <strong>QUANTITY</strong>
    </div>
    
    <div>
        <img src="https://live.staticflickr.com/65535/52726600750_3946190a20_w.jpg" width="80px">
        <span>You Never Walk Alone Album</span>
        &lt;&gt;
        <span>$28.99</span>
        <input type="number" value="1">
        &lt;&gt;
        <button type="button" class="btn btn-dark">REMOVE</button>
    </div>
    
    <hr>

    <div id="checkout-div">
        <strong>TOTAL</strong>
        <span>$28.99</span>
        <button type="button" class="btn btn-dark">PURCHASE</button>
    </div>

</section>

{% endblock %}