{% extends 'base.html' %}

{% block title %}
    Unofficial BTS | Store
{% endblock %}

{% block content %}
<section>
    <!-- MUSIC SECTION -->
    <h2 class="section-header">music</h2>
    <div class="shop-items-all">
        <div class="shop-item">
            <span class="shop-item-title">Young Forever</span>
            <img class="shop-item-image" src="https://live.staticflickr.com/65535/52726666648_ba2e880a99_w.jpg" height="100px"/>
            <div class="shop-item-details">
                <span class="shop-item-price">$19.99</span>
                <button title="Add to Cart" class="btn general-btn shop-item-btn" type="button" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>

            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#album1">
                View Album
            </button>

            <!-- ALBUM 1 MODAL -->
            <div class="modal fade" id="album1" tabindex="-1" aria-labelledby="album1Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="album1Label">Young Forever (Album)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726666648_ba2e880a99_w.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$19.99</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">RELEASED</p>
                                    <p class="col">May 2, 2016</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">WEIGHT</p>
                                    <p class="col">1.52 pounds</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">SPECS</p>
                                    <p class="col">6.69"L x 0.79"W</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-item">
            <span class="shop-item-title">WINGS</span>
            <img class="shop-item-image" src="https://live.staticflickr.com/65535/52726666373_7da75acb45_w.jpg" height="100px"/>
            <div class="shop-item-details">
                <span class="shop-item-price">$21.99</span>
                <button title="Add to Cart" class="btn general-btn shop-item-btn" type="button" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>

            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#album2">
                View Album
            </button>

            <!-- ALBUM 2 MODAL -->
            <div class="modal fade" id="album2" tabindex="-1" aria-labelledby="album2Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="album2Label">WINGS (Album)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726666373_7da75acb45_w.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$21.99</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">RELEASED</p>
                                    <p class="col">October 10, 2016</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">WEIGHT</p>
                                    <p class="col">7.2 ounces</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">SPECS</p>
                                    <p class="col">6.69"L x 0.79"W</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-item">
            <span class="shop-item-title">You Never Walk Alone</span>
            <img class="shop-item-image" src="https://live.staticflickr.com/65535/52726600750_3946190a20_w.jpg" height="100px"/>
            <div class="shop-item-details">
                <span class="shop-item-price">$28.25</span>
                <button title="Add to Cart" class="btn general-btn shop-item-btn" type="button" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>

            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#album3">
                View Album
            </button>

            <!-- ALBUM 3 MODAL -->
            <div class="modal fade" id="album3" tabindex="-1" aria-labelledby="album3Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="album3Label">You Never Walk Alone (Album)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726600750_3946190a20_w.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$28.25</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">RELEASED</p>
                                    <p class="col">February 13, 2017</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">WEIGHT</p>
                                    <p class="col">3.52 ounces</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">SPECS</p>
                                    <p class="col">6.69"L x 6.69"W</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="shop-item">
            <span class="shop-item-title">Love Yourself: HER</span>
            <img class="shop-item-image" src="https://live.staticflickr.com/65535/52726186301_80d0c6f6c5_n.jpg" height="100px"/>
            <div class="shop-item-details">
                <span class="shop-item-price">$28.99</span>
                <button title="Add to Cart" class="btn general-btn shop-item-btn" type="button" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>
            
            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#album4">
                View Album
            </button>

            <!-- ALBUM 4 MODAL -->
            <div class="modal fade" id="album4" tabindex="-1" aria-labelledby="album4Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="album4Label">Love Yourself: HER (Album)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726186301_80d0c6f6c5_n.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$28.99</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">RELEASED</p>
                                    <p class="col">September 19, 2017</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">WEIGHT</p>
                                    <p class="col">12.4 ounces</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">SPECS</p>
                                    <p class="col">5.47"L x 8.0"W</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- MERCH SECTION -->
<section>
    <h2 class="section-header">merch</h2>
    <div class="shop-items-all">
        <div class="shop-item">
            <span class="shop-item-title">Love Yourself: Black Hoodie</span>
            <img class="shop-item-image" type="image/png" src="https://live.staticflickr.com/65535/52726627658_dc143b07b2_o.jpg" height="100px"/>
            <div class="shop-item-details row">
                <span class="shop-item-price col">$31.99</span>
                <select class="form-control col size-option" id="blackHoodSize">
                    <option value="Small" selected>S</option>
                    <option value="Medium">M</option>
                    <option value="Large">L</option>
                </select>
                <button title="Add to Cart" type="button" class="btn general-btn shop-item-btn col" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>
            
            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#blackhood">
                View Product
            </button>

            <!-- BLACK HOOD MODAL -->
            <div class="modal fade" id="blackhood" tabindex="-1" aria-labelledby="blackhoodModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="blackhoodLabel">Love Yourself: HER (Black Hoodie)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726627658_dc143b07b2_o.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$31.99</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">MATERIAL</p>
                                    <p class="col">100% Cotton</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">MADE IN</p>
                                    <p class="col">USA</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-item">
            <span class="shop-item-title">Love Yourself: White Hoodie</span>
            <img class="shop-item-image" type="image/png" src="https://live.staticflickr.com/65535/52726147106_704a98479e_o.jpg" height="100px"/>
            <div class="shop-item-details row">
                <span class="shop-item-price col">$31.99</span>
                <select class="form-control col size-option" id="whiteHoodSize">
                    <option value="Small" selected>S</option>
                    <option value="Medium">M</option>
                    <option value="Large">L</option>
                </select>
                <button title="Add to Cart" type="button" class="btn general-btn shop-item-btn col" onclick="addToCart(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>

            <button class="shop-item-details btn" data-bs-toggle="modal" data-bs-target="#whitehood">
                View Album
            </button>

            <!-- WHITE HOOD MODAL -->
            <div class="modal fade" id="whitehood" tabindex="-1" aria-labelledby="whitehoodModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="whitehoodLabel">Love Yourself: HER (White Hoodie)</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="https://live.staticflickr.com/65535/52726147106_704a98479e_o.jpg" width="150px" class="modal-img shadow">
                            <div class="modal-details">
                                <p class="modal-subtitle">DESCRIPTION</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <span class="row">
                                    <p class="modal-subtitle col">PRICE</p>
                                    <p class="col">$31.99</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">MATERIAL</p>
                                    <p class="col">100% Cotton</p>
                                </span>
                                <span class="row">
                                    <p class="modal-subtitle col">MADE IN</p>
                                    <p class="col">USA</p>
                                </span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- CART SECTION -->
<section>
    
    <!-- SHOPPING CART OFFCANVAS -->
    <div class="center-btn">
        <button title="View Cart" class="btn view-cart-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" onclick="updateCartTotal()">
            VIEW CART 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <span class="badge rounded-pill text-bg-dark cart-notif">0</span>
        </button>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
            <h2 class="section-header">cart</h2>
            <!-- CART HEADER ROW -->
            <div class="cart-row">
                <span class="cart-item cart-header cart-type-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-amount cart-header cart-column">QUANTITY</span>
            </div>

            <!-- EMPTY CART TEXT -->
            <div id="empty-merch-text">
                Your cart is currently empty.
                <br>
                Continue browsing <button class="button arena-link"  data-bs-dismiss="offcanvas" style="font-family:'Syne', 'Times';">here</button>
            </div>

            <!-- ALL CART ITEMS -->
            <div class="cart-items-all">
                <!-- Cart items inserted interactively here -->
            </div>
            
            <!-- CHECKOUT -->
            <div class="cart-total">
                <span class="cart-total-label">TOTAL</span>
                <span id="merch-total-price" class="cart-total-price">$0.00</span>
            </div>
            <div class="submit-cart" id="checkout-merch-btn">
                <button type="button" class="purchase-btn btn" onclick="startCheckout(this, 'merch')">
                    CHECKOUT
                </button>
            </div>
        </div>
      </div>

</section>

<br>

<script>
    // function call when page loads 
    toggleEmptyCart("merch-total-price", "empty-merch-text", "checkout-merch-btn");
</script>

{% endblock %}