{% extends 'base.html' %}

{% block title %}Unofficial BTS | Thank You{% endblock %}

{% block content %}

<section>

    <div class="section-header">
        Thank you for your purchase
        {% if txnType == 'tickets' %}
        <br>
        <h4 class="sub-header">See you at the concert!</h4>
        {% endif %}
        <br>
        <br>

        <h4 class="sub-header">Order Summary</h4>

        <div class="receipt-section">
            <div class="receipt-title">order number #{{ order.id }}</div>
            purchase date: {{ order.purchase_date }}
            <br>
            total {% if txnType == 'tickets'%}{{txnType}}{% else %}items{% endif %} purchased: {{ num_items_sold }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">{{ txnType }} details</div>
            {% for row, product in zip %}
                <span class="receipt-product">{{ product.prod_title }}</span> x {{ row.qty_sold }} / ${{ product.unit_price }} each 
                <br>          
            {% endfor %}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">order details</div>
            <br>
            {{ txnType }} subtotal: ${{ order.subtotal }}
            <br>
            delivery fee: ${{ order.delivery_fee }}
            {% if order.delivery_fee == "5.99" %}
                with Standard Ground (5-7 biz days)
            {% elif order.delivery_fee == "12.99" %}
                with Express Shipping (1-3 biz days)
            {% else %}
                with Next-Day Shipping (1 biz day)
            {% endif %}
            <br>
            total: ${{ order.total_price }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">shipping address</div>
            <br>
            {{ customer.rec_name }}
            <br>
            {{ customer.rec_address }}, {{ customer.rec_city }}, {{ customer.rec_state }} {{ customer.rec_zip }}
            <br>
            {{ customer.rec_email }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">billing address</div>
            <br>
            {{ customer.bill_name }}
            <br>
            {{ customer.bill_address }}, {{ customer.bill_city }}, {{ customer.bill_state }} {{ customer.bill_zip }}
            <br>
            {{ customer.bill_email }}
        </div>

    </div>

    <br>

    <a href="/" class="btn general-btn purchase-btn">RETURN HOME</a>

</section>

<!-- RESET SESSION STORAGE / CHECKOUT INFORMATION -->
<script>
    sessionStorage.setItem("subtotal", "$0.00");
    sessionStorage.setItem("predictedTotal", "5.99");
</script>

{% endblock %}