{% extends 'base.html' %}

{% block title %}Unofficial BTS | Thank You{% endblock %}

{% block content %}

<section>

    <div class="section-header" id="receipt-container">
        <span id="receipt-banner">Thank you for your purchase</span>

        <svg class="box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="teal" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>

        {% if txnType == 'tickets' %}
        <br>
        <br>
        <h4 class="sub-header">see you at the concert!</h4>
        <br>
        <div class="venue-details">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
            </span>
            <span>{{ order.venue }}</span>
            <div>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                </span>
                <span class="venue-date">{{ order.venue_date }}</span>
            </div>
        </div>

        {% else %}
        <br>
        {% endif %}

        <br>
        <h4 class="sub-header">order summary</h4>

        <div class="receipt-section center-receipt">
            <div class="receipt-summary-row row">
                <span class="col-md-6 receipt-label">order number: </span>
                <span class="col-md-6 receipt-value">#{{ order.id }}</span>
            </div>
            <div class="receipt-summary-row row">
                <span class="col-md-6 receipt-label">purchase date: </span>
                <span class="col-md-6 receipt-value">{{ order.purchase_date }}</span>
            </div>
            <div class="receipt-summary-row row">
                <span class="col-md-6 receipt-label">
                    total {% if txnType == 'tickets'%}{{txnType}}{% else %}items{% endif %} purchased: 
                </span>
                <span class="col-md-6 receipt-value">{{ num_items_sold }}</span>
            </div>
            <div class="receipt-summary-row row">
                <span class="col-md-6 receipt-label">{{ txnType }} subtotal: </span>
                <span class="col-md-6 receipt-value">${{ order.subtotal }}</span>
            </div>
            <div class="receipt-summary-row row">
                <span class="col-md-6 receipt-label">delivery fee: </span>
                <span class="col-md-6 receipt-value">
                    ${{ order.delivery_fee }}
                </span>
            </div>
            <br>
            <div id="receipt-delivery-fee">
                {% if order.delivery_fee == "5.99" %}
                    with Standard Ground (5-7 biz days)
                {% elif order.delivery_fee == "12.99" %}
                    with Express Shipping (1-3 biz days)
                {% else %}
                    with Next-Day Shipping (1 biz day)
                {% endif %}
            </div>
            <br>
            total amount: <span id="receipt-amount">${{ order.total_price }}</span>
        </div>

        <br>

        <div class="receipt-section">
            <h4 class="sub-header">{{ txnType }} details</h4>
            <br>
            <div class="receipt-cart-row">
                <div class="receipt-column receipt-column-title">
                    {% if txnType == 'tickets' %}
                    TICKET TYPE
                    {% else %}
                    ITEM
                    {% endif %}
                </div>
                <div class="receipt-column receipt-column-title">
                    QUANTITY
                </div>
                <div class="receipt-column receipt-column-title">
                    PRICE
                </div>
            </div>
            {% for item_sold, product in zip %}            
                {% if txnType == "merch" %}
                <div class="receipt-cart-row">
                    <div class="receipt-column">
                        <img class="cart-item-image" src={{product.img_src}}>
                        <span class="cart-item-title receipt-item-title">
                            {{ product.prod_title }}
                            {% if item_sold.merch_size != "" %}
                                <span class="cart-item-size">
                                    {{ item_sold.merch_size }}
                                </span>
                            {% endif %}
                        </span>
                    </div>
                    <div class="receipt-column">
                        {{ item_sold.qty_sold }}
                    </div>
                    <div class="receipt-column">
                        {{ product.unit_price }}
                    </div>
                </div>
                {% else %}
                <div class="receipt-cart-row">
                    <div class="receipt-column">
                        <span class="cart-item-title receipt-item-title">
                            {{ product.prod_title }}
                        </span>
                    </div>
                    <div class="receipt-column">
                        {{ item_sold.qty_sold }}
                    </div>
                    <div class="receipt-column">
                        {{ product.unit_price }}
                    </div>
                    <br>
                </div>       
                {% endif %} 
            {% endfor %}
        </div>

        <br>

        <div class="receipt-section">
            <h4 class="sub-header">shipping address</h4>
            <br>
            <div class="receipt-ship-bill">
                {{ customer.rec_name }}
                <br>
                {{ customer.rec_address }}, {{ customer.rec_city }}, {{ customer.rec_state }} {{ customer.rec_zip }}
                <br>
                {{ customer.rec_email }}
            </div>
        </div>

        <br>

        <div class="receipt-section">
            <h4 class="sub-header">billing address</h4>
            <br>
            <div class="receipt-ship-bill">
                {{ customer.bill_name }}
                <br>
                {{ customer.bill_address }}, {{ customer.bill_city }}, {{ customer.bill_state }} {{ customer.bill_zip }}
                <br>
                {{ customer.bill_email }}
            </div>
        </div>

    </div>

    <br>

    <div class="center-btn">
        <a href="/" class="btn general-btn purchase-btn">RETURN HOME</a>
    </div>

</section>

<!-- RESET SESSION STORAGE / CHECKOUT INFORMATION -->
<script>
    sessionStorage.setItem("subtotal", "$0.00");
    sessionStorage.setItem("predictedTotal", "5.99");
</script>

{% endblock %}