{% extends 'base.html' %}

{% block title %}Unofficial BTS | Thank You{% endblock %}

{% block content %}

<section>

    <div class="section-header">
        Thank you for your purchase
        {% if txnType == 'tickets' %}
        <br>
        <br>
        <h4 class="sub-header">See you at the concert!</h4>
        <br>
        <div class="venue-details">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
            </span>
            <span>{{ order.venue }}</span>
            <div>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>
                </span>
                <span class="venue-date">{{ order.venue_date }}</span>
            </div>
        </div>

        {% endif %}
        <br>
        <h4 class="sub-header">Order Summary</h4>

        <div class="receipt-section">
            <div class="receipt-title">order number #{{ order.id }}</div>
            purchase date: {{ order.purchase_date }}
            <br>
            total {% if txnType == 'tickets'%}{{txnType}}{% else %}items{% endif %} purchased: {{ num_items_sold }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">{{ txnType }} details</div>
            <br>
            <div class="receipt-cart-row">
                <div class="receipt-column receipt-column-title">
                    {% if txnType == 'tickets' %}
                    TICKET TYPE
                    {% else %}
                    ITEM
                    {% endif %}
                </div>
                <div class="receipt-column receipt-column-title">
                    QUANTITY
                </div>
                <div class="receipt-column receipt-column-title">
                    PRICE
                </div>
            </div>
            {% for row, product in zip %}            
                {% if txnType == "merch" %}
                <div class="receipt-cart-row">
                    <div class="receipt-column">
                        <img class="cart-item-image" src={{product.img_src}}>
                        <span class="cart-item-title receipt-item-title">{{ product.prod_title }}</span>
                    </div>
                    <div class="receipt-column">
                        {{ row.qty_sold }}
                    </div>
                    <div class="receipt-column">
                        ${{ product.unit_price }}
                    </div>
                </div>
                {% else %}
                <div class="receipt-cart-row">
                    <div class="receipt-column">
                        <span class="cart-item-title receipt-item-title">{{ product.prod_title }}</span>
                    </div>
                    <div class="receipt-column">
                        {{ row.qty_sold }}
                    </div>
                    <div class="receipt-column">
                        ${{ product.unit_price }}
                    </div>
                    <br>
                </div>       
                {% endif %} 
            {% endfor %}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">order details</div>
            <br>
            {{ txnType }} subtotal: ${{ order.subtotal }}
            <br>
            delivery fee: ${{ order.delivery_fee }}
            {% if order.delivery_fee == "5.99" %}
                with Standard Ground (5-7 biz days)
            {% elif order.delivery_fee == "12.99" %}
                with Express Shipping (1-3 biz days)
            {% else %}
                with Next-Day Shipping (1 biz day)
            {% endif %}
            <br>
            total: ${{ order.total_price }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">shipping address</div>
            <br>
            {{ customer.rec_name }}
            <br>
            {{ customer.rec_address }}, {{ customer.rec_city }}, {{ customer.rec_state }} {{ customer.rec_zip }}
            <br>
            {{ customer.rec_email }}
        </div>

        <br>

        <div class="receipt-section">
            <div class="receipt-title">billing address</div>
            <br>
            {{ customer.bill_name }}
            <br>
            {{ customer.bill_address }}, {{ customer.bill_city }}, {{ customer.bill_state }} {{ customer.bill_zip }}
            <br>
            {{ customer.bill_email }}
        </div>

    </div>

    <br>

    <a href="/" class="btn general-btn purchase-btn">RETURN HOME</a>

</section>

<!-- RESET SESSION STORAGE / CHECKOUT INFORMATION -->
<script>
    sessionStorage.setItem("subtotal", "$0.00");
    sessionStorage.setItem("predictedTotal", "5.99");
</script>

{% endblock %}