/* ==== import font ===== */
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');



/* ==== DEFAULT STYLING RULES / MISC ===== */
* {
    padding: 0;
    margin: 0;
    font-family: 'Yomogi', cursive;
    font-size: 1em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.section-header {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 3%;
}

.arena-link {
    color: black;
}

.arena-link:hover {
    color: teal;
}

section {
    margin: 3%;
    font-size: 0.8em;
}

header, footer, .btn, .tour-date, .tour-city, .shop-item-title, .cart-item-title, .cart-type {
    font-family: 'Pangolin', cursive;
    font-size: 1em;
}



/* ==== BAND MAIN HEADER ===== */
header {
    background-color: rgb(0,0,0,0.6);
    background-image: url("https://live.staticflickr.com/65535/52730718051_800c0bd143_b.jpg");
    background-size: cover;
    background-blend-mode: multiply; /* combine bg color and image together */
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

.band-name {
    margin-top: 5px;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 30px;
    padding-bottom: 30px;
}



/* ==== FOOTER ===== */
footer {
    height: 80px;
    width: 100%;
    background-color: black;
    position: sticky;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-footer-logo {
    width: 20%;
    text-align: left;
    margin-left: 20px;
}

.flex-footer-socials {
    width: 30%;
    text-align: end;
    margin-right: 30px;
}

.flex-footer-socials a {
    text-decoration: none;
}



/* ===== NAVBAR ====== */
.custom-navbar a {
    color: rgb(255,255,255,0.8);
}

.custom-navbar {
    border-bottom: 1px solid rgb(255,255,255,.3);
}

.nav-item {
    display: inline-block;
    width: 33%;
}



/* ===== BUTTONS ===== */
.btn {
    background-color: rgb(0,0,0);
    color: white;
    /* text align within buttons */
    text-align: center;
    vertical-align: middle;
    padding: .67em;
}

.map-block {
    display: block;
}

.map-btn {
    margin-top: 2%;
    background-color: teal;
    color: white;
    font-size: larger;
}

.map-row {
    margin: auto;
    margin-top: 2%;
    padding: 15px;
}

.stage {
    background-color: black;
    color: white;
    border: 1px black solid;
    font-size: 1.5em;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}

.stage, .general-row {
    padding: 20px;
}

.header-btn {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/*
.play-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
*/

.btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#navbar a:hover, /*.play-btn:hover,*/ .header-btn:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.general-btn {
    color: white;
    background-color: black;
}



/* ==== BAND SOCIALS ==== */
.social-icon {
    padding-left: 5%;
    height: 20px;
}

.social-icon:hover {
    fill: white;
}



/* ===== CHECKOUT PAGE ====== */
.sub-header {
    border-bottom: 1px black dashed;
    text-align: center;
    margin-bottom: 0;
}

.checkout-section {
    text-align: left;
    margin-top: 3%;
    font-size: medium;
}

.checkout-form {
    width: 75%;
    margin: auto;
}

#delivery-form {
    text-align: left;
}

#ship-handle-label, #subtotal-label {
    font-weight: bolder;
    font-size: 1.1em;
    text-align: center;
}

#shipping-fee, #subtotal {
    text-align: center;
}

#total-price-label {
    font-weight: bolder;
    font-size: 1.2em;
    margin-top: 1%;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 1%;
    margin-bottom: 1%;
}

.shipping-form {
    text-align: center;
}

/* center shipping and shipping labels and input fields */
.section-city {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 2%;
}

/* ===== INDEX, TOUR SECTION ==== */
.flexbox-container {
    display: flex;
    justify-content: space-around; /*  distribute extra free space leftover */
}

.tour-row {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 1em; /* space between content and border */
    margin-bottom: 1em; /* space between border and bottom content */
    align-items: center;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block; 
    /* to change the width of inline elements, 
    can apply width, height without breaking line */
    padding-right: 0.5em;
    font-size: 1.2em;
}

.tour-date {
    color: teal;
    font-weight: bold;
    font-size: large;
    width: 11%;
}

.tour-city {
    width: 25%;
    font-weight: bolder;
}

.tour-arena {
    width: 45%;
}

.flexbox-btn {
    max-width: 18%;
}



/* ===== ABOUT SECTION ===== */
#gallery {
    margin-left: 3%;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

#gallery-caption {
    margin-bottom: 2.5%;
    font-weight: bolder;
    font-size: 1.08em;
    font-style: italic;
}

#selected-img {
    width: 200px;
    height: 133px;
    margin-bottom: 2.5%;
    border-radius: 5px;
    border: 0.5px black solid;
}

.preview-img {
    width: 100px;
    height: 50px;
    margin: auto;
    border: 0.5px grey solid;
}

.preview-img:hover, .preview-img:active {
    border: 0.9px black solid;
}

@media all and (min-width:576px) {
    /* small */
    #selected-img {
        width: 222px;
        height: 148px;
    }

    .preview-img {
        width: 150px;
        height: 75px; /* x1.5 */
    }
}

@media all and (min-width:768px) {
    /* medium */
    #selected-img {
        width: 267px;
        height: 177px;
    }

    .preview-img {
        width: 160px;
        height: 80px; /* x1.6 */
    }   
}

@media all and (min-width:992px) {
    /* large */
    #selected-img {
        width: 333px;
        height: 222px;
    }

    .preview-img {
        width: 180px;
        height: 90px; /* x1.8 */
    }   
}

@media all and (min-width:1200px) {
    /* x-large */
    #selected-img {
        width: 400px;
        height: 266px;
    }

    .preview-img {
        width: 190px;
        height: 95px; /* x1.9 */
    }   
}

.about-text {
    font-size: 1.2em;
}



/* ===== STORE: ITEMS SECTION ===== */
.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block; /* on its own line */
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: teal;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 150px;
    /* center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.shop-item-details  {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    font-size: 1.3em;
}

.shop-items-all {
    display: flex;
    flex-wrap: wrap; /* wrap to new line */
    justify-content: space-around; 
    /* adds even amount of space around (top bottom left right) */
}



/* ===== TOUR TICKETS + STORE: CART SECTION ====== */
.cart-header  {
    font-size: 1.5em;
    font-weight: bold;
}

.cart-column {
    display: flex;
    align-items: center; /* vertically */
    border-bottom: 1px solid black;
    margin-right: 2%; /* space between columns */
    padding-bottom: 10px;
    margin-top: 10px; /* space between rows */
    font-size: 1.18em;
}

.cart-column:last-child {
    margin-right: auto;
}

.cart-row {
    display: flex; /* can add up to 100 percent widths */
}

.cart-item {
    width: 45%;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 3%;
}

.cart-item-title, .cart-type {
    margin-left: 10px;
    color: teal;
    font-size: 1.1em;
}

.cart-price {
    width: 20%;
}

.cart-amount {
    width: 35%;
}

.cart-input {
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.cart-remove-btn {
    margin-left: 10px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    margin-top: 2%;
    text-align: end;
    margin-bottom: 3%;
}

.cart-total-label, .tix-cart-total-label {
    font-size: 2em;
    font-weight: bold;
    margin-right: 10px;
}

.cart-total-price {
    font-size: 1.5em;
    margin-right: 3%;
}



/* ===== STORE: SUBMIT SECTION ===== */
.submit-cart {
    text-align: center;
}

.purchase-btn {
    background-color: teal;
    color: white;
    font-size: medium;
    margin-top: 1%;
}

.purchase-btn:hover, .map-btn:hover {
    background-color: rgba(0, 128, 128, 0.7);
    color: white;
}

.map-btn:first-child:hover {
    background-color: transparent;
    color: teal;
}

.hidden-div {
    display: none;
}


/* ===== THANK YOU: RECEIPT SECTION ===== */
#receipt-banner {
    animation: 1s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

.receipt-section {
    font-size: large;
    text-align: center;
}

.center-receipt {
    width: 45%;
    margin: auto;
}

.receipt-summary-row {
    margin-top: 10%;
}

@media all and (min-width:768px) {
    /* medium, large, xlarge */
    .receipt-label {
        text-align: left;
    }
    
    .receipt-value {
        text-align: right;
    }

    .receipt-summary-row {
        margin-top: 0.8%;
    }
}

.receipt-cart-row {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
}

.receipt-cart-row:last-child {
    border-bottom: none;
}

.receipt-column {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    width: 20%;
    margin-right: 2%;
    text-align: center;
}

.receipt-column:last-of-type {
    margin-right: auto;
}

.receipt-column:first-of-type {
    text-align: left;
    width: 35%;
}

.receipt-column-title {
    padding-bottom: 0;
}

.venue-details {
    font-size: large;
}

.home-btn {
    text-align: center;
}